langchain
langchain_core
language_tool_python
matplotlib
matplotlib_venn
nltk
numpy
openai
pandas
plotly
pydantic
Requests
scikit_learn
scipy
torch
transformers
seaborn
chromadb
sentence-transformers
huggingface_hub
